In [1]:
name=input("Enter your name: ")
age=input("Enter your age: ")
city=input("Enter your city: ")
print(f"Hello, my name is {name}, I am {age} years old and I live in {city}.")

Enter your name: vsg
Enter your age: 20
Enter your city: vij
Hello, my name is vsg, I am 20 years old and I live in vij.

In [3]:
units=int(input("Enter units consumed: "))
if units<=100:
    bill=units*5
elif units<=200:
    bill=100*5 +(units-100)*7
else:
    bill=100*5+100*7+(units-200)*10
print("Your bill is:", bill)

Enter units consumed: 500
Your bill is: 4200

In [5]:
year =int(input("Enter year: "))
if(year%400==0) or (year%4==0 and year%100 !=0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter year: 2024
Leap Year

In [6]:
total=0
while True:
    price=input("Enter item price or 'done': ")
    if price.lower()=='done':
        break
    total+=float(price)
print("Total bill:", total)

Enter item price or 'done': 12
Enter item price or 'done': 13
Enter item price or 'done': done
Total bill: 25.0

In [8]:
sentence=input("Enter a sentence: ").lower()
vowels="aeiou"
v=c=0
for ch in sentence:
    if ch.isalpha():
        if ch in vowels:
            v+=1
        else:
            c+=1
print("Vowels:", v, "Consonants:", c)

Enter a sentence: vsgchowdary
Vowels: 2 Consonants: 9

In [9]:
balance=1000
while True:
    print("1.Check Balance 2.Deposit 3.Withdraw 4.Exit")
    choice=input("Enter choice: ")
    if choice=='1':
        print("Balance:", balance)
    elif choice=='2':
        amt=int(input("Enter amount: "))
        balance+=amt
    elif choice=='3':
        amt=int(input("Enter amount: "))
        if amt<=balance:
            balance-=amt
        else:
            print("Insufficient funds")
    elif choice=='4':
        break

1.Check Balance 2.Deposit 3.Withdraw 4.Exit
Enter choice: 1
Balance: 1000
1.Check Balance 2.Deposit 3.Withdraw 4.Exit
Enter choice: 2
Enter amount: 123
1.Check Balance 2.Deposit 3.Withdraw 4.Exit
Enter choice: 1
Balance: 1123
1.Check Balance 2.Deposit 3.Withdraw 4.Exit
Enter choice: 3
Enter amount: 1000
1.Check Balance 2.Deposit 3.Withdraw 4.Exit
Enter choice: 1
Balance: 123
1.Check Balance 2.Deposit 3.Withdraw 4.Exit
Enter choice: 4

In [11]:
nums=list(map(int, input("Enter numbers separated by space: ").split()))
print("Max:", max(nums), "Min:", min(nums))

Enter numbers separated by space: 1 2 3 6 7 8
Max: 8 Min: 1

In [12]:
marks={"Math":80,"Science":90,"English": 70}
for subject,score in marks.items():
    if score>=90:
        grade="A"
    elif score>=75:
        grade="B"
    else:
        grade="C"
    print(subject, ":", grade)

Math : B
Science : A
English : C

In [13]:
nums=[1,2,2,3,4,4,5]
unique=list(set(nums))
print(unique)

[1, 2, 3, 4, 5]

In [14]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f*=i
    return f
print(factorial(5))

120

In [16]:
pwd=input("Enter password: ")
if(len(pwd)>=8 and any(ch.isdigit()for ch in pwd) and
    any(ch.isupper() for ch in pwd) and any(ch.islower() for ch in pwd)):
    print("Strong Password")
else:
    print("Weak Password")

Enter password: Vsg@97034
Strong Password

In [17]:
expenses=[]
for i in range(7):
    expenses.append(float(input(f"Day {i+1} expense: ")))
print("Total:", sum(expenses), "Average:", sum(expenses)/7)

Day 1 expense: 200
Day 2 expense: 2334
Day 3 expense: 213
Day 4 expense: 321
Day 5 expense: 123
Day 6 expense: 13
Day 7 expense: 121
Total: 3325.0 Average: 475.0

In [18]:
def fibonacci(n):
    a,b=0,1
    for i in range(n):
        print(a,end=" ")
        a,b=b,a+b
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [19]:
votes={}
for i in range(5):
    name=input("Vote for: ")
    votes[name]=votes.get(name,0)+1
print(votes)

Vote for: 2
Vote for: 3
Vote for: 4
Vote for: 1
Vote for: 2
{'2': 2, '3': 1, '4': 1, '1': 1}

In [20]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]
print(set(list1) & set(list2))

{3, 4}

In [21]:
def is_prime(n):
    if n<2:return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:return False
    return True
print(is_prime(17))

True

In [22]:
def c_to_f(c):return (c*9/5)+32
def f_to_c(f):return (f-32)*5/9

print(c_to_f(30), "F")
print(f_to_c(86), "C")

86.0 F
30.0 C

In [23]:
contacts = {}
while True:
    print("1.Add 2.Search 3.Delete 4.Exit")
    ch = input("Choice: ")
    if ch == '1':
        name = input("Name: ")
        num = input("Number: ")
        contacts[name] = num
    elif ch == '2':
        name = input("Name: ")
        print("Number:", contacts.get(name, "Not found"))
    elif ch == '3':
        name = input("Name: ")
        contacts.pop(name, None)
    elif ch == '4':
        break

1.Add 2.Search 3.Delete 4.Exit
Choice: 1
Name: vsg
Number: 2
1.Add 2.Search 3.Delete 4.Exit
Choice: 2
Name: vsg
Number: 2
1.Add 2.Search 3.Delete 4.Exit
Choice: 3
Name: vsg
1.Add 2.Search 3.Delete 4.Exit
Choice: 4

In [24]:
salaries=[20000,50000,80000]
for s in salaries:
    if s<=30000:
        tax=s*0.05
    elif s<=60000:
        tax=s*0.1
    else:
        tax=s*0.2
    print("Salary:", s, "Tax:", tax)

Salary: 20000 Tax: 1000.0
Salary: 50000 Tax: 5000.0
Salary: 80000 Tax: 16000.0

In [25]:
students={"A","B","C","D"}
present={"A","C"}
absent=students - present
print("Present:", present)
print("Absent:", absent)

Present: {'C', 'A'}
Absent: {'B', 'D'}

In [26]:
cart=[]
while True:
    item=input("Add item or 'done': ")
    if item.lower()=='done':
        break
    cart.append(item)
print("Cart:", cart)

Add item or 'done': apple
Add item or 'done': mango
Add item or 'done': done
Cart: ['apple', 'mango']

In [27]:
def is_palindrome(s):
    return s==s[::-1]
print(is_palindrome("madam"))

True

In [28]:
results={"Alice":85,"Bob":92,"Charlie":78}
topper=max(results,key=results.get)
print("Topper:",topper)

Topper: Bob

In [29]:
library=[]
while True:
    print("1.Add 2.Issue 3.Return 4.Exit")
    ch=input("Choice: ")
    if ch=='1':
        book=input("Book name: ")
        library.append(book)
    elif ch=='2':
        book=input("Book to issue: ")
        if book in library: library.remove(book)
    elif ch=='3':
        book=input("Book to return: ")
        library.append(book)
    elif ch=='4':
        break

1.Add 2.Issue 3.Return 4.Exit
Choice: 1
Book name: allow
1.Add 2.Issue 3.Return 4.Exit
Choice: 2
Book to issue:
1.Add 2.Issue 3.Return 4.Exit
Choice: 3
Book to return: allow
1.Add 2.Issue 3.Return 4.Exit
Choice: 4

In [31]:
menu = {"Pizza":200, "Burger":100, "Pasta":150}
order = []
while True:
    item = input("Order item or 'done': ")
    if item.lower() == 'done':
        break
    if item in menu:
        order.append(menu[item])
print("Total Bill:", sum(order))

Order item or 'done': Pizza
Order item or 'done': Pasta
Order item or 'done': done
Total Bill: 350